
<!--<div class="row" *ngFor="let getimg of pagedItems"><div class="col-md-4"><h1><img src="{{getimg.img}}" /></h1></div>-->
<div class="col-md-8">
    <div class="col-md-6" *ngFor="let items of pagedItems">
      <div class="row">
          <img src="{{items.img}}" class="img-responsive"/>
        <h6 style="text-align: center; ">{{items.media_displayName}}, {{items.timestamp}}</h6>
         <dl>
  <dt style="text-align: center;">{{items.title}}</dt>
  <dd>{{items.content}}</dd>
</dl>
<button (click)="gotoDetail()">View Details</button>
      </div>
      
    </div>  
    
</div>